.product {
    width: 260px;
    margin-right: 44px;
    transition: filter .3s ease;
    cursor: pointer;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product:hover {
    filter: drop-shadow(0 2px 12px rgba(0,0,0,.1));
}

.product__name {
    letter-spacing: 0.01em;
    font-size: 0.85em;
    font-weight: 500;
    margin-bottom: 18px;
} 

.product__pic {
    margin-bottom: 10px;
    width: 100%;
}

.product__price-wrap {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 1em;
}

.product__price-promo {
    margin-right: 5%;
}

.product__price-old {
    opacity: .5;
    text-decoration: line-through;
}

.product__buy-btn {
    border: none;
    outline: none;
    background-color: #F1BD45;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 0;
    width: 100%;
    margin-bottom: 40px;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.product__buy-btn:hover {
    box-shadow: #000 2px 3px 10px;
}

.product__buy-btn:active {
    box-shadow: none;
}